body {
  background-color: black;
  color: white;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
nav {
  margin: 0;
  padding: 0;
  height: 10vh;
  background-color: rgb(4, 4, 67);
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-align: center;
}
footer {
  margin: 0;
  padding: 0;
  height: 20vh;
  background-color: rgb(4, 4, 67);
}
main {
  margin: 0;
  padding: 0;
  min-height: 70vh;
  background-color: rgb(20, 20, 93);
}
a {
  text-decoration: none;
  margin: 5px;
}
.active {
  color: red;
}

.product-card {
  border: 2px solid white;
  width: 30%;
  margin: 10px;
}
.product-card img {
  height: 100px;
}
#products-container {
  display: flex;
  flex-wrap: wrap;
}
.product-title {
  color: white;
  font-size: 1.2rem;
}
