#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.pet-card {
  border: 2px solid white;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pet-card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
