body {
  background-color: rgb(23, 175, 175);
}

.pet-card {
  height: 20vh;
  background-color: rgb(107, 5, 123);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
.pet-card img {
  height: 90%;
}

.dark-mode {
  background-color: rgb(2, 61, 25);
}
