body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: orange;
}
nav img {
  height: 80%;
}
main {
  min-height: 70vh;
  padding: 0 20px;
}

footer {
  background-color: purple;
  height: 20vh;
}

.pet-card {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.pet-card h2 {
  text-align: left;
  width: 30%;
}
