body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}
main {
  background-color: rgb(22, 111, 81);
  min-height: 70vh;
}
nav {
  height: 10vh;
  background-color: rgb(16, 92, 92);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
nav img {
  height: 80%;
}
footer {
  height: 20vh;
  background-color: rgb(16, 92, 92);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
h1 {
  margin: 0;
}

.card {
  height: 250px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card img {
  height: 50%;
}
.active {
  color: red;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  margin: 5px;
}
